.vscode/

# FranFrau tester files
libft_tester/
libft-unit-test/
libft/libft-war-machine/
libft/Libftest/
libft/libftTester/
libft/Supreme-Tester-Libft/
libft/tester.sh
libft/tester/
ft_printf/printfTester/
get_next_line/gnlTester/
get_next_line/tester/
.DS_Store
test/

# 42 Guide by pasqualerossi
guide/

# Born2beroot heavy files
born2beroot/

# SO_LONG
so_long/mlx_linux/
so_long/mlx_mac/
